<?xml version="1.0"?>
<!-- Komfortkasse Magento Plugin - config.xml -->
<config>
  <modules>
    <Ltc_Komfortkasse>
      <version>1.6.2</version>
    </Ltc_Komfortkasse>
  </modules>
  <global>
    <helpers>
      <Ltc_Komfortkasse>
        <class>Ltc_Komfortkasse_Helper</class>
      </Ltc_Komfortkasse>
    </helpers>
    <models>
      <Ltc_Komfortkasse>
        <class>Ltc_Komfortkasse_Model</class>
      </Ltc_Komfortkasse>
    </models>
    <events>
      <sales_order_place_after>
        <observers>
          <Ltc_Komfortkasse>
            <class>Ltc_Komfortkasse/observer</class>
            <method>noteNewOrder</method>
          </Ltc_Komfortkasse>
        </observers>
      </sales_order_place_after>
      <sales_order_load_after>
        <observers>
          <Ltc_Komfortkasse>
            <class>Ltc_Komfortkasse/observer</class>
            <method>noteOrderStatus</method>
          </Ltc_Komfortkasse>
        </observers>
      </sales_order_load_after>
      <sales_order_save_after>
        <observers>
          <Ltc_Komfortkasse>
            <class>Ltc_Komfortkasse/observer</class>
            <method>checkOrderStatus</method>
          </Ltc_Komfortkasse>
        </observers>
      </sales_order_save_after>
      <komfortkasse_change_order_status_before>
      </komfortkasse_change_order_status_before>
      <komfortkasse_change_order_status_after>
      </komfortkasse_change_order_status_after>
    </events>
  </global>
  <default>
    <payment>
      <komfortkasse>
        <activate_export>1</activate_export>
        <activate_update>1</activate_update>
        <payment_methods>banktransfer</payment_methods>
        <status_open>pending</status_open>
        <status_paid>processing</status_paid>
        <status_cancelled>canceled</status_cancelled>
        <status_open_invoice>complete</status_open_invoice>
        <use_invoice_total>0</use_invoice_total>
        <consider_creditnotes>0</consider_creditnotes>
        <creditnotes_as_invoices>0</creditnotes_as_invoices>
        <last_receipt_only>0</last_receipt_only>
        <status_open_cod>processing</status_open_cod>
      </komfortkasse>
    </payment>
  </default>
  <frontend>
    <routers>
      <Ltc_Komfortkasse>
        <use>standard</use>
        <args>
          <module>Ltc_Komfortkasse</module>
          <frontName>komfortkasse</frontName>
        </args>
      </Ltc_Komfortkasse>
    </routers>
  </frontend>
</config>
